* {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: row;
}
.right-side {
  width: 50%;
  height: 90vh;
  border: 1px solid;
  margin: 40px 40px 0 0;
  border-radius: 30px;
}

.title {
  margin: 120px 0 0 170px;
}

.two-login-button {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  margin-left: 290px;
}

.google-login-button {
  margin-top: 20px;
  margin-left: 170px;
  width: 290px;
  height: 35px;
  border-radius: 10px;
  background-color: white;
  border: 0.5px rgb(204, 199, 199) solid;
  font-weight: bold;
  font-size: medium;
  transition: 0.8s;
}

.google-login-button:hover {
  transform: scale(1.05);
  transition: 0.8s;
}

.apple-login-button {
  margin: 20px 0 0 20px;

  width: 290px;
  height: 35px;
  border-radius: 10px;
  background-color: white;
  border: 0.5px rgb(204, 199, 199) solid;
  font-weight: bold;
  font-size: medium;
  transition: 0.8s;
}

.apple-login-button:hover {
  transform: scale(1.05);
  transition: 0.8s;
}

.google-pic {
  width: 21px;
  height: 22px;
  margin: 2px 10px -5px -5px;
}

.line {
  width: 64%;
  size: 2px;
  margin: 40px 0 40px 270px;
  color: rgb(204, 204, 204);
}

.input-place {
  display: flex;
  flex-direction: column;
  margin: 0px 170px 0px 170px;
  width: 500px;
}

.input-text {
  height: 40px;
  border-radius: 10px;
  border-radius: 10px;
  background-color: white;
  border: 0.5px rgb(204, 199, 199) solid;
  margin: 5px 0 30px 0;
  transition: 0.5;
}

.big-login-button {
  margin: 40px 0 30px 350px;
  width: 250px;
  height: 40px;
  border-radius: 20px;
  color: white;
  background-color: #3b49df;
  border: none;
  transition: 0.5s;
}

.big-login-button:hover {
  transition: 0.5s;
  transform: scale(1.1);
}

.account-asking {
  margin: 10px 0 0 170px;
}

.run-way-img {
  width: fit-content;
  height: fit-content;
  margin: 30px 0px 30px 250px;
}

.right-side {
  background-color: #525ddd;
  box-shadow: rgba(185, 46, 240, 0.4) 5px 5px, rgba(217, 46, 240, 0.3) 10px 10px,
    rgba(208, 46, 240, 0.2) 15px 15px, rgba(201, 46, 240, 0.1) 20px 20px,
    rgba(217, 46, 240, 0.05) 25px 25px;
  border: none;
}

.run-way-title {
  color: white;
  font-weight: bold;
  font-size: 3rem;
  width: 800px;
  height: 100px;
  margin: 70px 0 20px 150px;
}

.run-way-logo {
  width: 150px;
  height: 150px;
  margin-left: 150px;
}
.join-us {
  display: flex;
  flex-direction: row;
}
.join-us-text {
  font-weight: bold;
  font-size: 3rem;
  width: 800px;
  height: 100px;
  margin: 70px 0 20px 10px;
  font-style: italic;
}
@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@500&display=swap");
* {
  font-family: "Maven Pro", sans-serif;
}
.navbar {
  background: #121418;
  width: 100%;
  height: 80px;
  position: fixed;
}

.navbar-content {
  display: flex;
  flex-direction: row;
}

.apple-name {
  color: white;
  font-size: 2rem;
  font-weight: bold;
  margin: 25px 0px 10px 100px;
  margin: auto;
}

.list-content {
  color: white;
  font-size: 1rem;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin: auto;
}

.list-content > li {
  margin-right: 50px;
}

#search-button {
  height: 50%;
  width: 50px;
  background: transparent;
  border: transparent;
  font-size: 20px;
  color: #f8f7fa;
  cursor: pointer;
  outline: 0;
  margin: 30px 0 0 300px;
}

.main-content {
  background: #121418;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.login-header {
  color: white;
  font-size: 4rem;
  margin: auto;
  margin-top: 200px;
  font-weight: bold;
}
